body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dark-color-background {
    background-color: #faaa31;
}

.dark-color-background:hover {
    background-color: #faaa31;
}

.light-color-background {
    background-color: #fddd7a;
}

.dark-color-text {
    color: #faaa31;
}

.dark-color-text-unhover {
    color: #faaa31;
}

.dark-color-text:hover {
    color: black;
}

.light-color-text {
    color: #fddd7a;
}

.dark-border {
    border-color: #faaa31;
}

.img-class {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
}

.btn-color {
    background-color: #F8F6F4;
}

@media only screen and (max-width: 992px) {
    #content-para {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    #content-para {
        width: 50%;
    }
}

#itemcard-img {
    padding: 20px;
}

#modal-button {
    cursor: pointer;
}